/venv/
/media/
/media_test/
lassi.conf
lassi.egg-info/
.DS_Store
__pychache__
*.pyc
*.pyc
*.swp
*.ipynb
*.orig
*.old
*.log
bandit.html
/documents/
/.idea/
.coverage
.coverage_fast
/coverage-report/
*,cover
profile
/env/
/venv/
.vscode/
*.db
htmlcov/
htmlcov_fast/
*.cov
.cache
.pytest_cache
/.project
/profiles
.pydevproject
.settings/
.~lock*
.mypy_cache/
/.donotcommit_tmp/
*.pyi
nohup.out
db.sqlite3